body{
background-color: white;
    padding: 0;
    margin: 0;
}
.supermenu{
    background-color: rgb(22, 29, 46);
    height: 100px
}
.advert{
    background-color: yellow;
    height: 50px;
}

#widget1{
  background-color: rgb(55, 55, 55); 
  height: 100px
}
#widget2{
    background-color: rgb(49, 59, 84);
    height: 200px;
}
#filter2{
    background-color: rgb(15, 29, 65);
    height: 150px;

}
.main{

    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;
}

.left{
    background-color: rgb(15, 29, 65);
    margin-left: 10px;
    margin-top: 30px;
    height: 3400;
}
.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-template-rows: repeat(8, 430px);
    grid-row-gap: 3px;
    margin-top: 30px;
    margin-right: 10px;

}
.image{
    background-color: rgb(174, 225, 255);
    height: 180px;

}
.description{
    background-color: rgb(89, 112, 126);
    height: 250px;
}

.bottom{
    margin-top: 25px;
    width: 100vw;
}

#advert2{
    background-color: yellow;
    height:100px;
}
#widget3{
    background-color: rgb(15, 29, 65);
    height: 75px;
}
.info{
    background-color: rgb(0, 58, 94);
    height: 200px;
    margin-top: 25px;
}
#widget4{
    background-color: gray;
    height: 200px;
}