.landing h4{
margin: 0%;
padding: 1%;
position: absolute;
color: white;
font-size: 2.5vw;
display: flex;
justify-content: flex-end;
}

iframe{
    margin-left: -10vw;
    width:125%;
    height: 125vh;
    position: static;
}
.landing{
    display: grid;
    grid-template-columns: 25vw 50vw 25vw ;
    height: 12%;
    background-color: rgb(149, 0, 0);
    position: absolute;
    margin-top: 23%;
    width: 100%;
}

.landing h5{
    margin: 0%;
    padding: 4%;
    color: white;
    display: block;
    font-size: 2.5vw;
    display: flex;
    justify-content: flex-end;


}
.landing img{
    margin: auto;
    max-width: 100%;
    display: block;
    margin-top: -7.5%;
}


body{
    position: block;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
iframe{
height: 0%;
width: 0%;
}
.landing{
    height: 8%;
    margin-top: 45vh;
}
body{
    background-size: 125vw;
}
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
.landing{
    height: 6%;
    margin-top: 45vh;
}
iframe{
        height: 00vh;
        width: 00vw;
}

body{
    background-size: 175vw;
}
}
@media only screen and (max-width: 600px) {

.landing{
    height: 4.5%;
    margin-top: 45vh;
}

iframe{
    height: 00vh;
    width: 00vw;
    position: hidden;
}
body{
    background-size: 225vw;
}
}