body{
    padding: 0;
    margin: 0;
    background-color:rgb(93, 0, 0);
}
.header{
    width: 100vw;
    height: 5vh;
    background-color: pink;
}
.menu{
    width:100vw;
    height:25vh;
    background-color: dimgrey;
}
.main{
display: grid;
width: 98.5vw;
margin-top: 50px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 50px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 50px, 50px;
grid-row-gap: 3em;
grid-column-gap: 1em
}


.image{
    background-color: red;
    height:400px;
}
.info{
    background-color: white;
    height: 100px;
 
}

.widget{
    background-color: silver;
    height: 400px;
}
.description{
    background-color:rgb(50, 50, 50);
    height: 500px;

}